<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


    <title>Web Shop</title>
</head>
<body>
<h1> Product Overview</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>

<tr th:each="product: ${productList}">
  <td th:text="${product.id}"> 1 </td>
    <td th:text="${product.productName}">Cloths</td>
    <td th:text="${product.price}">200.99</td>
    <td th:text="${product.description}">woollen</td>


        <td><a th:href= " @{'/update/' + ${product.id}}">Update</a></td>
        <td ><a th:href= " @{'/delete/' + ${product.id}}">Delete</a></td>
    </tr>
</table>

       <th><a th:href="create" > add new product</a> </th>

</body>
</html>